<div fxLayout="row" fxFill>
  <!-- Side Navigation -->
 <app-side-nav ></app-side-nav>

  <!-- Right Content Area -->
  <main  fxLayout="column" class="main-content">
  <!-- Fixed Header -->
  <header class="fixed-header">
    <app-backend-header></app-backend-header>
  </header>

  <!-- Scrollable Center Content -->
  <section class="content-area" fxFlex>
    <router-outlet></router-outlet>
  </section>

  <!-- Fixed Footer -->
  <footer class="fixed-footer">
    <app-footer></app-footer>
  </footer>
</main>

</div>