// @import "../../../assets/scss/mixins";
.layout-container {
  height: 100vh;
  background: var(--mat-sys-surface-dim);
  // transition: width 1.3s ease;
  &.width-70 {
  width: 70px;
  // transition: width 0.3s ease;
  .sidenav{
    width: 70px;
    // transition: width 0.3s ease;
  }
  h4{
    display: none;
  }
}
}

.sidenav {
  width: 260px;
   transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 0;
  // font-family: $font-Georama-bold;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  .sidenav-menu {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 1rem;
  /* Keep badges aligned on the right */
a[mat-list-item] .badge,
.mat-expansion-panel-header .badge {
  margin-left: auto;
}
::ng-deep .mat-list-item-content {
  padding-left: 0.75rem !important;
}
a[mat-list-item]:hover::before {
  background-color: transparent; 
  border-radius: 0 !important;
}
::ng-deep .mat-expansion-panel{
  box-shadow: none !important;
}
}

}

.sidenav-header {
  position: sticky;
  top: 0;
  z-index: 10;
}



.sidenav-footer {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  text-align: center;
  padding: 0.75rem 0;
  font-size: 0.8rem;
  z-index: 10;
}


/* start drop*/


/* Badge styling */
.badge {
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  margin-left: auto;
}

.badge-warning { background-color: #ffc107; color: #000; }
.badge-success { background-color: #28a745; color: #fff; }
.badge-danger  { background-color: #dc3545; color: #fff; }
.badge-primary { background-color: #007bff; color: #fff; }

h3[mat-subheader] {
  margin-top: 1rem;
  font-weight: 600;
  color: #6c757d;
}
a[mat-list-item],
.mat-expansion-panel-header .mat-panel-title {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* spacing between icon and text */
  height: 45px;
}

/* Make sure icons have consistent size and alignment */
a[mat-list-item] mat-icon,
.mat-expansion-panel-header mat-icon {
  font-size: 20px;
  vertical-align: middle;
  color: inherit;
}

/* Ensure text doesn’t stretch awkwardly */
.mat-panel-title {
  flex: 1;
  display: flex;
  align-items: center;
}



/* end drop*/