<mat-sidenav-container class="layout-container" [class.width-70]="!isNarrow">
  <!-- Side Navigation -->
  <mat-sidenav mode="side" opened class="sidenav" [fixedInViewport]="true">
    
    <div class="sidenav-content">
      <!-- Fixed Header -->
      <!-- <mat-toolbar  class="sidenav-header">
        <span>logo</span>
      </mat-toolbar> -->
<!-- <button (click)="toggleWidth()">Toggle Width</button> -->
      <!-- Scrollable Menu -->
      <mat-nav-list class="sidenav-menu">
        <ng-container *ngFor="let menu of menus">
          <!-- Header -->
          <ng-container *ngIf="menu.type === 'header'">
            <h4 mat-subheader class="text-uppercase mt-2">{{ menu.title }}</h4>
          </ng-container>

          <!-- Dropdown menu -->
          <ng-container *ngIf="menu.type === 'dropdown'">
            <mat-expansion-panel class="nav-dropdown" [expanded]="menu.active">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <!-- <mat-icon fontSet="fa" [fontIcon]="menu.icon.replace('fa ', '')" class="me-2"></mat-icon> -->
                   <mat-icon class="me-2">assignment_ind</mat-icon>
                  {{ menu.title }}
                </mat-panel-title>
                <span *ngIf="menu.badge" class="badge" [ngClass]="menu.badge.class">
                  {{ menu.badge.text }}
                </span>
              </mat-expansion-panel-header>

              <mat-action-list>
                <a mat-list-item *ngFor="let sub of menu.submenus" href="#">
                  {{ sub.title }}
                  <span *ngIf="sub.badge" class="badge" [ngClass]="sub.badge.class">
                    {{ sub.badge.text }}
                  </span>
                </a>
              </mat-action-list>
            </mat-expansion-panel>
          </ng-container>

          <!-- Simple link -->
          <ng-container *ngIf="menu.type === 'simple'">
            <a mat-list-item href="#">
              <!-- <mat-icon fontSet="fa" [fontIcon]="menu.icon.replace('fa ', '')" class="me-2"></mat-icon> -->
               <mat-icon class="me-2">bar_chart</mat-icon>
              {{ menu.title }}
              <span *ngIf="menu.badge" class="badge" [ngClass]="menu.badge.class">
                {{ menu.badge.text }}
              </span>
            </a>
          </ng-container>
        </ng-container>
      </mat-nav-list>

    
    </div>
  <!-- Fixed Footer -->
      <!-- <div class="sidenav-footer">
        <small>© 2025  Info</small>
      </div> -->
  </mat-sidenav>


</mat-sidenav-container>
