<div class="container">
    <div fxLayout="row" fxLayoutAlign="start end">
        <h1>
            Hey Atul,
            {{ greeting }}
        </h1>
        <span class="emoji">👋</span>
</div>
    <p>
      I’m <span class="highlight">VEDAA</span> - your AI partner to help you turn your<br> data into
      decisions faster, smarter, and easier<br> with AI-powered insights.
    </p>
    <div class="button-group">
      <button class="btn" routerLink="/backend/Dashboard">New Project →</button>
      <button class="btn">Old Project →</button>
    </div>
  </div>