// start
 .custom-input {
::ng-deep .mat-form-field-appearance-fill{
  width: 100%;
  background-color: #383838;
  .mat-mdc-text-field-wrapper{
    background-color:transparent;
    padding-left: 55px;
    padding-right: 120px;
    background-image:url('../../../assets/images/Frame\ 54.png');
    background-repeat: no-repeat;
    background-position: 4px 5px;
    .mat-mdc-form-field-infix{
        padding-top: var(--mat-form-field-container-vertical-padding, 19px);
      .mdc-floating-label{
        color: white !important;
      }
    }
    .mdc-line-ripple{
      display: none;
    }
  .mat-mdc-form-field-focus-overlay{
    background-color:transparent;
  }
 
  }
  .mat-mdc-form-field-subscript-wrapper{
  display: none !important; 
 }
}

}

// end