@use "@angular/material" as mat;

@font-face {
  font-family: 'Georama';
  // src: url('./assets/font/Georama-VariableFont_wdth\,wght.ttf');
  src: url(./assets/font/Georama_SemiExpanded-Regular.ttf);
}
@font-face {
  font-family: 'Georama-bold';
  // src: url('./assets/font/Georama-VariableFont_wdth\,wght.ttf');
  src: url(./assets/font/Georama_SemiExpanded-Bold.ttf);
}
@font-face {
  font-family: 'Georama-bold-s';
  // src: url('./assets/font/Georama-VariableFont_wdth\,wght.ttf');
  src: url(./assets/font/Georama_SemiExpanded-SemiBold.ttf);
}
@font-face {
  font-family: 'Georama-Thin';
  // src: url('./assets/font/Georama-VariableFont_wdth\,wght.ttf');
  src: url(./assets/font/Georama_SemiExpanded-Thin.ttf);
}
@font-face {
  font-family: 'Georama-Light';
  // src: url('./assets/font/Georama-VariableFont_wdth\,wght.ttf');
  src: url(./assets/font/Georama_SemiExpanded-Light.ttf);
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/font/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
// @use "./styles/_theme-colors.scss" as theme-colors;

// html {
//   @include mat.theme(
//     (
//       color: (
//         theme-type: light,
//         primary: theme-colors.$primary-palette,
//         tertiary: theme-colors.$tertiary-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     )
//   );
// }

html,
body {
  height: 100%;
  
}
body {
  margin: 0;
  font-family: 'Georama', sans-serif ; 
}
body {
  background-color: #D10013;
  /* vertical gradient: top (#D10013) to bottom (#000000) */
  background-image: linear-gradient(to bottom, #D10013 0%, #000000 100%);
  /* keep it fixed so it doesn't move with content (optional) */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

